<script src="/assets/js/main.js" defer></script>
<script src="/assets/js/cursor.js" defer></script>
<script src="/assets/js/glitch.js" defer></script>
<script src="/assets/js/stats.js" defer></script>
<script src="/assets/js/search.js" defer></script>
<script src="/assets/js/floating-windows.js" defer></script>
{% if page.url == "/" %}
<script src="/assets/js/konami.js" defer></script>
{% endif %}
